@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Metamorphous&display=swap');

:root {
  --color-1: #e7ccf7;
  --color-2: #5d3e7d;
  --color-3: #ffffff;
  --color-4: #a792c8;
  --color-5: #fd5d8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-3);
  background-color: #1d1d1d;
}

/* Global Components */
.highlightable-paragraph {
  strong {
    font-weight: normal;
    text-shadow: 0 0 10px #ffffff;
  }

  .shiny {
    color: #dddd00;
    text-shadow: 0 0 5px #dddd00, 0 0 10px #dddd00;
    animation: sparkle 5s infinite;
  }
}

@keyframes sparkle {

  0%,
  100% {
    text-shadow: 0 0 5px #dddd00, 0 0 10px #dddd00;
    color: #dddd00;
  }

  50% {
    text-shadow: 0 0 10px #dddd00, 0 0 20px #dddd00;
    color: #ffff00;
  }
}

/* Title Screen */
#titleScreen {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  gap: 1em;
  background: url('dark_castle/1/Dark Castle (7).jpg'), #00000080;
  background-position: center;
  background-blend-mode: multiply;

  h1 {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: 'Metamorphous', serif;
    font-size: 3em;

    img {
      height: 1em;
      border-radius: 20%;
    }
  }

  #description {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
  }

  #startButton {
    --background-blend-color: #00000060;
    border-radius: 0;
    padding: 0.5em 1em;
    background: url('stone-tile.jpg'), var(--background-blend-color);
    background-blend-mode: multiply;
    background-size: 100px;
    color: white;
    font-family: 'MedievalSharp', cursive;
    border: none;
    font-size: 1em;
    cursor: pointer;
    position: relative;

    &:hover {
      --background-blend-color: #00000080;
    }

    &:active {
      --background-blend-color: #000000a0;
    }
  }

  #arrow-1 {
    position: absolute;
    top: 40px;
    left: -70px;
    transform: rotate(-50deg);
    filter: invert(100%);
    animation: hover-1 2.5s ease-in-out infinite;
  }

  #arrow-2 {
    position: absolute;
    top: -10px;
    right: -90px;
    transform: rotate(180deg);
    filter: invert(100%);
    animation: hover-2 3s ease-in-out infinite;
  }
}

@keyframes hover-1 {
  0%, 100% {
    transform: translateY(0) rotate(-50deg);
  }
  50% {
    transform: translateY(-10px) rotate(-50deg);
  }
}

@keyframes hover-2 {
  0%, 100% {
    transform: translateY(0) rotate(180deg);
  }
  50% {
    transform: translateY(-10px) rotate(180deg);
  }
}

/* Game Screen */
#gameScreen {
  background-image: url("/public/dark_castle/1/Dark\ Castle\ \(24\).jpg Castle (24).jpg");
  .spritesheetBox {
    position: absolute;
    width: 520px;
    height: 420px;
    overflow: hidden;
    background-color: #ff000010;
    transform-origin: top left;

    img {
      top: 0;
      position: relative;
    }
  }
  .entity {
    position: absolute;
    background-size: cover;
  }
}


#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#surface {
  aspect-ratio: 16 / 9;
  width: 80%;
  background-color: #222;
  border: 3px solid var(--color-4);
  background-image: url('Ground&Stone/Stone/ground5.png');
  background-size: 20px;
  position: relative;
}