@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Metamorphous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #1d1d1d;
}

/* Global Components */
.highlightable-paragraph {
  strong {
    font-weight: normal;
    text-shadow: 0 0 10px #ffffff;
  }

  .shiny {
    color: #dddd00;
    text-shadow: 0 0 5px #dddd00, 0 0 10px #dddd00;
    animation: sparkle 5s infinite;
  }
}

@keyframes sparkle {

  0%,
  100% {
    text-shadow: 0 0 5px #dddd00, 0 0 10px #dddd00;
    color: #dddd00;
  }

  50% {
    text-shadow: 0 0 10px #dddd00, 0 0 20px #dddd00;
    color: #ffff00;
  }
}

/* Title Screen */
#titleScreen {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  gap: 1em;
  background-image: url('dark_castle/1/Dark Castle (7).jpg'), #00000080;
  background-blend-mode: multiply;

  h1 {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: 'Metamorphous', serif;
    font-size: 3em;

    img {
      height: 1em;
      border-radius: 20%;
    }
  }

  #description {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
  }

  #startButton {
    --background-blend-color: #00000060;
    border-radius: 0;
    padding: 0.5em 1em;
    background: url('stone-tile.jpg'), var(--background-blend-color);
    background-blend-mode: multiply;
    background-size: 100px;
    color: white;
    font-family: 'MedievalSharp', cursive;
    border: none;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      --background-blend-color: #00000080;
    }

    &:active {
      --background-blend-color: #000000a0;
    }
  }
}

/* Game Screen */
#gameScreen {

  #player {
    position: absolute;
    width: 520px;
    height: 420px;
    overflow: hidden;
    transform-origin: 0 0;
  }

  #spriteImg {
    top: 0;
    position: relative;
  }
}

/*

#surface {
  aspect-ratio: 16 / 9;
  background-color: #222;
  border: 3px solid rgb(68, 221, 183);
  height: 400px;
  position: relative;
  margin: 0 auto;
  transform-origin: top;
  background-image: url('Ground&Stone/Stone/ground5.png');
  background-size: 20px;
}


#redBox {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  top: 100px;
  left: 500px;
  background-color: rgb(255, 66, 66);
}

.entity {
  display: inline-block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: blue;
}

.movable {
  left: 50px;
  top: 50px;
  background-color: red;
}

.collision-state {
  background-color: green !important;
} */